@page "/"

<h2 style="text-align:center"><b>Human Resources</b></h2>
<br />
<br />
<span>
    <img src="/images/adventure-works-logo-150x150.png" asp-append-version="true" width="200px" alt="adventure-works-logo" class="center-logo" />
</span>
@code {
  
}